*.war
.classpath
.idea
.project
*.iml
*.ipr
*.iws
*.out
CodeNarcReport.html
cobertura.ser
out/
*/tld/*
*.log
*.class
web-app/repositories/
web-app/logs/*

modules/meta-utils/plugin.xml

#target
target
target/css
target/images
target/js
target/META-INF
target/plugins
target/WEB-INF
target/work
target/versionInfo.txt
target/classes

.settings
target-eclipse

data/

#as-frontend module
modules/as-frontend/bower_components/
modules/as-frontend/node_modules/
modules/as-frontend/test/
web-app/WEB-INF/tld/


#as-admin module
modules/as-admin/target/classes/application.properties

#as-rest module
modules/as-rest/target/classes/application.properties
